body{
	background-color: lightblue;
}

th{
	background-color: 	blue;
	color: 	white;
	height: 50px;
}

td{
	background-color: 	cyan;
	color: 	red;
}

table{
	width: 	100%;
}

.container{
	margin:0 auto;
}

img{
	height: 300px;
}